*{
    margin: 0;
    padding: 0;
}



@media (max-width: 600px){
    .resume{
        font-size: 0.8rem;
        background-color: rgb(90, 123, 173);
    
    }
    .mode{
        font-size: 1.1rem /* 20px */;
        line-height: 1.5rem /* 28px */;
    }
    nav-icon{
        align-items: center;
        place-content: center;
    }
}



@media (min-width: 992px){
    .resume{
        font-size: .9rem;
        background-color: rgb(90, 123, 173);
        top: 1px;
    
    }
    .mode{
        font-size: 1.3rem /* 20px */;
        line-height: 1.5rem /* 28px */;
    }
    .nav {
        font-size: 1.15rem;
    }
    nav-icon{
        align-items: center;
        place-content: center;
    }
}



@media (min-width: 768px){
    .mode{
        font-size: 1.3rem /* 20px */;
        line-height: 1.5rem /* 28px */;
    }
    .resume{
        font-size: .8rem;
        background-color: rgb(90, 123, 173);
        top: 0;
    
    }
    nav-icon{
        align-items: center;
        place-content: center;
    }
    .nav .logo-text{
        font-size: 1.1rem;
    }
}