.logo{
    font-size: 1.5rem;
    margin: 2.5rem 0rem;
}
.hair-logo{
    background-image: linear-gradient(45deg, rgb(92, 124, 240) 10%, rgb(217, 84, 240) 45%, rgb(238, 131, 85) 80%);
    background-clip: text;
    color: transparent;
}
.weather-logo{
    background-image: linear-gradient(45deg, rgb(92, 124, 240) 10%, rgb(217, 84, 240) 45%, rgb(238, 131, 85) 80%);
    background-clip: text;
    color: transparent;
}
.signin-logo{
    background-image: linear-gradient(45deg, rgb(92, 124, 240) 10%, rgb(217, 84, 240) 45%, rgb(238, 131, 85) 80%);
    background-clip: text;
    color: transparent;
}

.wave{
    height: 20rem;
    width: 20rem;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6rem;
    background-color: rgb(48, 116, 150);
    position: relative;
    border-radius: 50%;
    animation: bounce 3s ease;
}

.inner-heading{
    border: 0px, solid #ddd;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.inner-heading span{
    position: relative;
    animation: animate 10s ease;
    animation-iteration-count: 2;
}

@keyframes animate {
    0%,100%{
        top: 0;
    }
    25%{
        top: 0;
    }
    50%{
        top: -50px;
    }
    70%{
        top: -50px;
    }
    80%{
        top: -100px;
    }
    95%{
        top: -100px;
    }


}

@keyframes bounce {
    0%,100%{
        transform: translateY(0);

    }
    25%{
        transform: translateY(-70px);

    }
    55%{
        transform: translateY(0);

    }
    75%{
        transform: translateY(-50px);

    }
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 80px;
    margin-bottom: 2rem;
    width: 100%;
    z-index: 100;
    transition: all .5s ;

}
nav.sticky{
    padding: 20px 100px;
    background: #f3f3f3;
    border: #f3f3f3;
    border-radius: 15px;
    top: 1px;

}
.top{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 15px 80px;
    transition: all .5s ;
    color: transparent;
    

}
.returnToTop{
    background: #b0b0b0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.footer{
    padding: 1.5rem 0;
    background-color: transparent;
    font-family: monospace;
    font-size: .9rem;
}
body.dark main{
    background-color: #1a1a1a;
}

body.dark p{
    color: rgb(255, 255, 255);
}
body.dark h2 {
    color: rgb(161, 148, 232);

}
body.dark nav a {
    color: rgb(161, 148, 232);
}
body.dark nav .resume {
    color: white;
    background-color: rgb(172, 164, 225);
}
body.dark #hero a {
    color: rgb(161, 148, 232);
}
body.dark .send{
    background-color: rgb(161, 148, 232);

}
body.dark .phone a{
    background-color: rgb(161, 148, 232);
}
body.dark .phone .card1{
    background-color: rgb(224, 224, 224);
}
body.dark .phone .card2{
    background-color: #1b1b1b;
}
body.dark nav .mode {
    fill: #fff;
}
body.dark .skill li:hover {
    color: #fff;
}



body.dark nav.sticky{
    padding: 20px 100px;
    background: #232323;
    border: #232323;
    border-radius: 15px;
    top: 1px;

}
body.dark .returnToTop{
    background: rgb(198, 194, 223);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
body.dark .wave{
    height: 20rem;
    width: 20rem;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 6rem;
    background-color: rgb(198, 194, 223);
    position: relative;
    border-radius: 50%;
    animation: bounce 3s ease;

}
body.dark .footer h5{
    color: #fff;
}
body.dark .footer i{
    color: #fff;
}


@media (max-width: 600px) {
    .main{
        margin: 0;
        max-width: 100vh;
    }
    .phone{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
        margin: 0 8rem;
        justify-content: center;
    }
    .returnToTop{
        min-height: 3rem;
        min-width: 3rem;
        margin-bottom: 2rem;
    }
    .phone a{
        width: 150px;
        height: 40px;
    }
    .socialicon{
        align-items: center;
        display: flex;
        place-content: center;
        gap: 4rem;

    }
    .socialicon a{
        font-size: x-large;
    }
    .hero-t1{
        font-size: 0.9rem;
        padding-left: 2px;
    }
    .hero-t2{
        font-size: 2.5rem;
        margin: 5px 0;
    }
    .hero-t3{
        font-size: 1.1rem;
        
    }
    .wave{
        height: 10rem;
        width: 10rem;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 5rem;
        background-color: rgb(48, 116, 150);
        position: relative;
        border-radius: 50%;
        animation: bounce 3s ease;
    }
    body.dark .wave{
        height: 10rem;
        width: 10rem;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 5rem;
        background-color: rgb(48, 116, 150);
        position: relative;
        border-radius: 50%;
        animation: bounce 3s ease;
    }
    .card1{
        max-height: 15rem;
        max-width: 12rem;
        text-align: center;

    }
    .card2{
        max-height: 15rem;
        max-width: 12rem;
        text-align: center;

    }
    .card1 h1, h2, a {
       font-size: 1rem;

    }
    .card2 h1, a {
        font-size: 0.9rem;
     }
     nav{
        position: fixed;
        top: 0;
        left: 0;
        padding: 1.2rem 1rem;
        margin-bottom: 1.5rem;
        width: 100%;
        z-index: 100;
        transition: all .5s ;
    
    }
    nav.sticky{
        padding: 1.1rem .6rem;
        background: #f3f3f3;
        border: #f3f3f3;
        border-radius: 13px;
        top: 1px;
    }
    body.dark nav.sticky{
        padding: 1.1rem .6rem;
        background: #232323;
        border: #232323;
        border-radius: 13px;
        top: 1px;
    }
    #hero{
        padding: .6rem 0;
    }
    .card1 a{
        padding: .2rem .8rem;
    }
    .send{
        background-color: rgb(90, 123, 173);
    }
    .project-link{
        background-color: rgb(90, 123, 173);
    }
    .top{
        position: fixed;
        right: 0;
        bottom: 0;
        margin: .2rem 1rem;
        transition: all .5s ;
        color: transparent;
        
    
    }
    .returnToTop{
        background: #b0b0b0;
        height: 2rem;
        max-width: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }

}

@media (min-width: 992px) {
    .wave{
        height: 18rem;
        width: 18rem;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 6rem;
        background-color: rgb(48, 116, 150);
        position: relative;
        border-radius: 50%;
        animation: bounce 3s ease;
    }
    .main{
        max-width: 100%;
        padding: 0 4rem;
    }
    .socialicon a{
        font-size: 1.8rem;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        padding: 30px 50px;
        margin-bottom: 2rem;
        width: 100%;
        z-index: 100;
        transition: all .5s ;
    
    }
    nav.sticky{
        padding: 20px 60px;
        background: #f3f3f3;
        border: #f3f3f3;
        border-radius: 15px;
        top: 1px;
    
    }
    .send{
        background-color: rgb(90, 123, 173);
    }
    .project-link{
        background-color: rgb(90, 123, 173);
    }
    .phone{
        display: flex;
        flex-direction: row;
        gap: 5.4rem;
        margin: 0 1rem;
        justify-content: center;
    }
    .top{
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 1rem 2rem;
        transition: all .5s ;
        color: transparent;
        
    
    }
    .returnToTop{
        background: #b0b0b0;
        height: 3rem;
        min-width: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }

}

